<div id="options">
  <form>
    <p>
      <input type="checkbox" id="show_labels" onclick="drawing.show_labels = this.checked;">
      <label for="show_labels">Show labels</label>
    </p>
    <p>
      <input type="button" value="Stop layout" onclick="drawing.stop_calculating();">
    </p>
  </form>
</div>

<div style="position: absolute; bottom: 0; color: white;">
  Rotate: Left Mouse Button and Move<br />
  Zoom: Press Key S + Left Mouse Button and Move<br />
  Drag: Press Key D + Left Mouse Button and Move
</div>

<div id="overlay">
   <div id="table-view">
      <p>Content you want the user to see goes here.</p>
   </div>
</div>

<div id="output_box">
</div>
